<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Image Compress</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div class="app">

		<header>
			<p>Iamge Compress</p>
			<div class="handle">
				<button title="设置" @click="settingShow = true">
					<div class="icon icon-setting">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
				<button title="最小化" @click="minWindow">
					<div class="icon icon-min"></div>
				</button>
				<button title="关闭" @click="closeWindow">
					<div class="icon icon-close">
						<span></span>
						<span></span>
					</div>
				</button>
			</div>
		</header>


		<transition name="fade">
			<div class="setting" v-show="settingShow">
				<div class="inner">
					<div class="block">
						<div class="form-item">
							<div class="label">
								<p class="title">存储位置</p>
								<p class="tip">设置图片存储位置</p>
							</div>
							<button @click="openDialog">{{savePath}}</button>
						</div>
						<div class="form-item">
							<div class="label">
								<p class="title">jpg压缩质量</p>
								<p class="tip">设置jpg图片的压缩质量</p>
							</div>
							<select v-model="jpgQuality">
								<option v-for="item in jpgQualityOption" :value="item.val">{{item.label}}</option>
							</select>
						</div>
						<div class="form-item range-item">
							<div class="label">
								<p class="title">png压缩质量</p>
								<p class="tip">设置压缩png图片的质量范围</p>
							</div>
							<div class="quality-range">
								<range :value.sync="quality1" max="100"></range>
								<range :value.sync="quality2" max="100"></range>
								<div class="line"></div>
							</div>
						</div>
						<div class="form-item range-item">
							<div class="label">
								<p class="title">png压缩速度</p>
								<p class="tip">速度/质量的权值，默认为3，当其值为10时，会获得默认值8倍的速度提升，但是会损失5%左右的质量</p>
							</div>
							<range :value.sync="speed" max="10"></range>
						</div>
					</div>
					<div class="btn-wrap">
						<button @click="saveSetting">保存</button>
						<button @click="settingShow = false">关闭</button>
					</div>
				</div>
			</div>
		</transition>



		<div class="main">



			<div class="introduce">
				<h1 :class="{'small':list.length != 0}">Image
					<span>Compress</span>
				</h1>
				<transition name="fade">
					<p v-show="list.length == 0">Image Compress是一个图片压缩工具，使用electron构建而成，压缩算法基于imagemin，实现了无损压缩，支持文件拖拽、批量压缩，自定义存储位置和常用参数</p>
				</transition>

			</div>

			<div class="work-list" v-show="list.length > 0">

				<p class="residual">还有{{list.length}}个图片等待压缩</p>

				<div class="list scroll">
					<transition-group name="item" tag="p">
						<div v-for="(item,index) in list" :key="item.path" class="item">
							<div class="flex">
								<div class="img">
									<img :src="item.path" />
								</div>
								<div class="info">
									<p class="path" :title="item.path">{{item.path}}</p>
									<p class="size">{{item.size | sizeFilter}}</p>
								</div>
							</div>
							<div class="remove" @click="removeListItem(index)"></div>
						</div>
					</transition-group>
				</div>
				
				<div class="btn-wrap">
					<button @click="doCompress">压缩</button>
					<button @click="list = []">清空</button>
				</div>
			</div>

			<div id="dragArea" class="drag-tip" v-show="list.length == 0">
				<p>请将文件或文件夹拖动到窗口</p>
			</div>

		</div>
	</div>

	<!-- range component -->
	<script type="text/x-template" id="range">
		<div class="range" ref="elRange">
			<div class="track"></div>
			<div :class="{'thumb':true,'focus':focus}" ref="elThumb" @mousedown="isMouseDown = true,focus = true" >
				<span>{{value}}</span>
			</div>
		</div>
	</script>


	<script type="text/javascript">
		require("./js/index.js")
	</script>
</body>

</html>